In [56]:
## Pandas Series
import pandas as pd

In [57]:
lista = [12, 23, 34, 45, 56, 67]
serie_pandas = pd.Series(lista)

In [58]:
print(serie_pandas[1])

23

In [59]:
## Na Pandas, ao invés do Numpy, podemos utilizar campos de texto
notas = {"Tiago" : 8, "Guilherme" : 9.5, "Juca" : 6.2}

In [60]:
serie_notas = pd.Series(notas)

In [61]:
print(serie_notas["Tiago"])

8.0

In [62]:
print(serie_notas.mean())

7.8999999999999995

In [63]:
# Info interessante: A Pandas é construída usando a Numpy como base, então tem funções a mais
print(serie_notas.describe())

count    3.000000
mean     7.900000
std      1.652271
min      6.200000
25%      7.100000
50%      8.000000
75%      8.750000
max      9.500000
dtype: float64

In [64]:
## Pandas DataFrames

# Cria um dicionário com autores, preços e títulos
dictionary = {"Autores": ["Rick Riordan", "J. R. R. Tolkien", "Rick Riordan", "Machado de Assis"],
              "Títulos": ["O Ladrão de Raios", "A Sociedade do Anel", "Mar de Monstros", "Memórias Póstumas de Brás Cubas"],
              "Preços": [41.2, 35.7, 39.5, 40.5]}

In [65]:
## DataFrame
df = pd.DataFrame(dictionary)

In [66]:
df["Autores"][1]

'J. R. R. Tolkien'

In [67]:
df["Preços"].mean()

39.225

In [68]:
# Filtragem

mask = (df["Autores"] == "Rick Riordan")
df[mask]

        Autores            Títulos  Preços
0  Rick Riordan  O Ladrão de Raios    41.2
2  Rick Riordan    Mar de Monstros    39.5

In [69]:
nova_linha = pd.DataFrame({"Autores" : ["Rick Riordan"], "Títulos" : ["A Maldição do Titã"], "Preços" : [40.20]})
df

            Autores                          Títulos  Preços
0      Rick Riordan                O Ladrão de Raios    41.2
1  J. R. R. Tolkien              A Sociedade do Anel    35.7
2      Rick Riordan                  Mar de Monstros    39.5
3  Machado de Assis  Memórias Póstumas de Brás Cubas    40.5

In [71]:
df = pd.concat([df, nova_linha], ignore_index = True)
df

            Autores                          Títulos  Preços
0      Rick Riordan                O Ladrão de Raios    41.2
1  J. R. R. Tolkien              A Sociedade do Anel    35.7
2      Rick Riordan                  Mar de Monstros    39.5
3  Machado de Assis  Memórias Póstumas de Brás Cubas    40.5
4      Rick Riordan               A Maldição do Titã    40.2